<div class="container-fluid homepage-jumbotron">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Dive Log!</h1>
    <p class="lead">Dive log is a straightforward app for logging your dives.</p>
    <hr class="my-4">
    <p>It stories your dives and provides analysis about them.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Take me to my dives!</a>
  </div>
</div>