<div class="container-fluid homepage-jumbotron">
  <div class="jumbotron align-middle">
    <h1 class="display-4">Welcome to Dive Log{{#if user}}, {{user.name}}{{/if}}!</h1>
    <p class="lead">Dive log is a straightforward app for logging your dives.</p>
    <p>It stores your dives and provides analysis about them.</p>
    <hr class="my-4">
    <h3>Need a demo?</h3>
    <p>Use these credentials to log in...</p>
    <p>steve@teamzissou.com</p>
    <p>belafonte</p>
    <hr class="my-4">
    {{#if user}}
    <a class="btn btn-primary btn-lg" href="../user/{{user.id}}" role="button">Take me to my dives!</a>
    {{else}}
    <a class="btn btn-info btn-lg" href="../user/sign-up" role="button">Register</a>
    <a class="btn btn-info btn-lg" href="../user/login" role="button">Login</a>
    {{/if}}
  </div>
</div>