body {
  min-height: 100vh;
  background: rgba(132, 201, 255, 1.0);
  background: -webkit-linear-gradient(top, rgba(132, 201, 255, 1.0), rgba(1, 7, 93, 1.0));
  background: -moz-linear-gradient(top, rgba(132, 201, 255, 1.0), rgba(1, 7, 93, 1.0));
  background: linear-gradient(to bottom, rgba(132, 201, 255, 1.0), rgba(1, 7, 93, 1.0));
}