body {
  min-height: 100vh;
  background: rgba(146, 207, 255, 1);
  background: -webkit-linear-gradient(
    top,
    rgba(146, 207, 255, 1),
    rgba(1, 4, 44, 1)
  );
  background: -moz-linear-gradient(
    top,
    rgba(146, 207, 255, 1),
    rgba(1, 4, 44, 1)
  );
  background: linear-gradient(
    to bottom,
    rgba(146, 207, 255, 1),
    rgba(1, 4, 44, 1)
  );
}

.navbar {
  margin-bottom: 2%;
}

.homepage-jumbotron {
  width: 80%;
  margin: auto;
}