body {
  min-height: 100vh;
  background: rgba(146, 207, 255, 1);
  background: -webkit-linear-gradient(
    top,
    rgba(146, 207, 255, 1),
    rgba(1, 4, 44, 1)
  );
  background: -moz-linear-gradient(
    top,
    rgba(146, 207, 255, 1),
    rgba(1, 4, 44, 1)
  );
  background: linear-gradient(
    to bottom,
    rgba(146, 207, 255, 1),
    rgba(1, 4, 44, 1)
  );
}

.navbar {
  margin-bottom: 2%;
}

.navbar-username-link {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.navbar-username-link:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: white;
}

.homepage-jumbotron {
  width: 80%;
  margin: auto;
}

.allDivesContainer {
  width: 80%;
  margin: auto;
  margin-bottom: 4%;
}

.diveCard {
  margin-top: 2%;
  margin-bottom: 2%;
}

.singleDiveContainer {
  width: 80%;
  margin: auto;
}

.newDiveRegistrationCard {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

.userCard {
  width: 80%;
  margin: auto;
}

.particle-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}