<div class="card bg-dark text-white all-divesites-leader">
  <img src="../assets/images/diver.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Dive Sites Around the World</h5>
    <a href="/divesite/new-dive-site" class="btn btn-primary">Contribute</a>
  </div>
</div>

<section>
  <div class="container-fluid allDivesContainer">
    {{#if divesite}}
      {{#each divesite}}
        <div class="card diveCard">
          <div class="card-header">
            {{type}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <a href="/divesite/{{id}}" class="btn btn-primary">See more</a>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</section>