<div class="card newDiveRegistrationCard">
  <div class="card-header">
    Create new dive site
  </div>
  <div class="card-body">
    <form action="/divesite/new-dive-site" method="post">

      <div class="form-group">
        <label for="name">Dive site name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter dive site name">
      </div>

      <div class="form-group">
        <label for="coordinates">Coordinates: </label>
        <input type="text" class="form-control" id="coordineates"
          placeholder="Please enter the coordinates in Decimal Degrees (DD) - e.g. ±47.64896, ±122.34811">
      </div>

      <div class="form-group">
        <label for="type">Type: </label>
        <input type="text" class="form-control" id="type"
          placeholder="What type of site is this? E.g. 'Artificial Reef', 'Wreck', 'Coral Reef'">
      </div>

      <div class="form-group">
        <label for="description">Description: </label>
        <textarea class="form-control" id="description" rows="3">Please provide a one paragraph description.</textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>