<section>
  <div class="container-fluid singleDiveContainer">
    <div class="card diveCard">
      <div class="card-header">
        {{divesite.type}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{divesite.name}}</h5>
        <p class="card-text">{{divesite.description}}</p>
        {{!-- <a href="/divesite/{{id}}" class="btn btn-primary">See more</a> --}}
        {{!-- Need update button here --}}
        {{!-- Need delete button here --}}
      </div>
    </div>
  </div>
</section>