<div class="card newDiveRegistrationCard">
  <div class="card-header">
    Log a new dive
  </div>
  <div class="card-body">
    <form action="/dive/new-dive" method="post">

      <div class="form-group">
        <label for="number">Dive Number:</label>
        <input type="number" class="form-control" name="number" id="number">
      </div>

      <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" class="form-control" name="date" id="date">
      </div>

      <div class="form-group">
        <label for="site">Dive Site:</label>
        <select name="site" class="custom-select" {{#unless divesites}}disable{{/unless}}>
          {{#if divesites}}
          {{#each divesites}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
          {{else}}
          <option>Please register some dive sites first.</option>
          {{/if}}
        </select>
        <small class="form-text text-muted">Don't see your favorite dive site? Please <a href="../divesite/new-dive-site">add it to our database</a> before registering your dive.</small>
      </div>

      <div class="form-group">
        <label for="visibility">Visibility:</label>
        <input type="number" class="form-control" name="visibility" id="visibility">
        <small class="form-text text-muted">Please take care to only enter this value in feet (ft).</small>
      </div>

      <div class="form-group">
        <label for="airTemp">Air Temperature:</label>
        <input type="number" class="form-control" name="airTemp" id="airTemp">
        <small class="form-text text-muted">Please take care to only enter this value in fahrenheit (F) with no units.</small>
      </div>

      <div class="form-group">
        <label for="waterTemp">Water Temperature:</label>
        <input type="number" class="form-control" name="waterTemp" id="waterTemp">
        <small class="form-text text-muted">Please take care to only enter this value in fahrenheit (F) with no units.</small>
      </div>

      <div class="form-group">
        <label for="weightUsed">Weight Used:</label>
        <input type="number" class="form-control" name="weightUsed" id="weightUsed">
        <small class="form-text text-muted">Please take care to only enter this value in imperial pounds (lbs) with no units.</small>
      </div>

      <div class="form-group">
        <label for="airUsed">Air Used:</label>
        <input type="number" class="form-control" name="airUsed" id="airUsed">
        <small class="form-text text-muted">Please take care to only enter this value in pounds per square inch (PSI) with no units.</small>
      </div>

      <div class="form-group">
        <label for="bottomTime">Bottom Time:</label>
        <input type="number" class="form-control" name="bottomTime" id="bottomTime">
        <small class="form-text text-muted">Please take care to only enter this value in minutes with no units.</small>
      </div>

      <div class="form-group">
        <label for="notes">Notes: </label>
        <textarea class="form-control" name="notes" id="notes" rows="3" placeholder="What do you remember from this dive?"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Log this dive</button>
    </form>
  </div>
</div>